<div> 

<%@records.each do | i |%>



<li><%= i.phone_number %></li>
<li><%= i.last_contacted %></li>
<li><%= i.last_sent %></li>
<li><%= i.date_added %></li>
<li><%= i.id %></li>
<li><%= i.last_contacted %></li>
<% end %>

</div>
